.profile {
  display: grid;
  box-sizing: border-box;
  gap: 0px;
  grid-template-columns: 120px minmax(min-content, max-content) 1fr;
  max-width: 880px;
}
@media screen and (max-width: 899px) {
  .profile {
    max-width: 600px;
  }
}
@media screen and (max-width: 599px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 282px;
  }
}
