.card__heart {
  margin: auto;
  padding: 0;
  display: flex;
  background-image: url(../../../images/heart_inactive.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 22px;
  height: 19px;
}

.card__heart:hover {
  margin: auto;
  padding: 0;
  display: flex;
  background-image: url(../../../images/heart_active.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 22px;
  height: 19px;
}