.card__heart {
  margin: auto;
  padding: 0;
  display: flex;
  background-image: url(../../../images/heart_inactive.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  border: 0;
  width: 22px;
  height: 19px;
}
.card__heart:hover {
  cursor: pointer;
  opacity: 0.5;
}
.card__heart:active {
  background-image: url(../../../images/heart_active.svg);
  opacity: 1;
}
