.header {
  max-width: 880px;
  border-bottom: 1px solid #545454;
  opacity: 0.7;
  padding-bottom: 41px;
}
@media screen and (max-width: 899px) {
  .header {
    max-width: 600px;
  }
}
@media screen and (max-width: 599px) {
  .header {
    min-width: 320px;
    padding-bottom: 31px;
  }
}
