.profile__add {
  display: flex;
  position: absolute;
  align-self: center;
  right: 0;
  border: 2px solid #fff;
  border-radius: 2px;
  width: 150px;
  height: 50px;
}
.profile__add:hover {
  opacity: 0.6;
  cursor: pointer;
}
@media screen and (min-width: 600px) and (max-width: 899px) {
  .profile__add {
    width: 50px;
    height: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 599px) {
  .profile__add {
    display: flex;
    margin-top: 36px;
    position: initial;
    align-self: center;
    width: 100%;
    height: 50px;
  }
}
