.popup__container {
  padding: 0;
  display: flex;
  position: relative;
  background: #fff;
  width: 430px;
  border-radius: 10px;
  margin: auto;
}
@media screen and (max-width: 599px) {
  .popup__container {
    width: 282px;
    margin: auto 19px;
  }
}
