.profile__info {
  margin: 0;
  padding: 0;
  display: grid;
  box-sizing: border-box;
  gap: 0;
  max-width: 336px;
  grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
  grid-template-columns: 294px 42px;
  margin-left: 30px;
}
@media screen and (min-width: 600px) and (max-width: 899px) {
  .profile__info {
    max-width: 336px;
    grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
    grid-template-columns: 245px 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 599px) {
  .profile__info {
    max-width: 282px;
    grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
    grid-template-columns: 235px 28px;
    margin-left: 0;
  }
}
